@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --container: #d0d0d0;
    --wraper: #fff;
    --naslov:  #385180   ;
    --font1: poppins, sans-serif;
}

/*#ff3a18 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--container);
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.wraper {
    max-width: 500px;
    background-color: var(--wraper);
    border-radius: 24px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 16px rgb(0, 0, 0, 16%);
}

.wraper img {
    width: 150px;
    padding-top: 40px;

}

.logo {
    margin-top: 20px;
}

.naslov {
    text-align: center;
}

.naslov .rad {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.naslov h1{
   font-family: var(--font1);
   margin: 10px 0;
   font-size: 1.2em;
   color: var(--naslov);
}

.globus {
    margin-top: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48;
}
.material-symbols-outlined {
    color: red;

}

.playR {
    border-radius: 50%;
    border: none;
    padding: 10px;
    margin-top: 30px;
}

.podeli {
    margin: 60px 0;
    text-align: center;
}

.delenje {
    margin: 10px;
}

.podeli p {
    font-family: var(--font1);
    color: var(--container);
}

.viber {
    margin-right: 10px;
}

.fa-viber {
    color: purple;
    font-size: 1.5em;
}

.fa-link {
    color: #BEA69F;
    font-size: 1.5em;
}


.hidden {
    display: none;
}





@media only screen and (max-width: 450px) {
    .wraper {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }

    .container {
        padding-top: 0;
    }

}
